<div class="container mx-auto w-full">
    <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light mx-auto">
        <div class="flex-auto p-6">
            <div class="flex flex-wrap my-3">
                <img src="/<%=userFound.picture%>" alt="profile picture" width="100" height="100" style="object-fit:cover" class="border rounded-full">
            </div>
            <div class="flex flex-wrap">
                <div class="w-1/3">
                    <h4><%=userFound.username%></h4>
                    <h6><%= userFound.friends.length %> friends</h6>
                </div>
                <div class="w-2/3">
                    <a class="inline-block py-2 px-4 no-underline float-right mx-3" href="#" id="flex flex-wrap list-reset pl-0 mb-0barrelative" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    <div class=" absolute pin-l z-50 float-left hidden list-reset	 py-2 mt-1 text-base bg-white border border-grey-light rounded dropdown-menu-right animated--fade-in" aria-labelledby="flex flex-wrap list-reset pl-0 mb-0barrelative">
                        <a class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0" href="#">copy link</a> 
                        <div class="h-0 my-2 overflow-hidden border-t-1 border-grey-light"></div> 
                        <% if (userFound.isBlocked) { %>
                            <form action="/user/<%=userFound.id%>/unblock" method="post">
                                <button type="submit" class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0">unblock user</button>
                            </form>
                        <% }else{ %>
                            <form action="/user/<%=userFound.id%>/block" method="post">
                                <button type="submit" class="block w-full py-1 px-6 font-normal text-grey-darkest whitespace-no-wrap border-0">block user</button>
                            </form>
                        <% } %>
                    </div>
                    <% if (userFound.id != user.id && !userFound.isBlocked && !userFound.isRequested && !userFound.requestedBy && !userFound.isFriend) { %>
                        <form method="post" action="/user/<%= userFound.id %>/friend">
                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light float-right">Add Friend</button>
                        </form>
                    <% }else if(userFound.isRequested){%>
                        <form method="post" action="/user/<%= userFound.id %>/friend">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-yellow-lightest bg-yellow hover:bg-yellow-light float-right">remove request</button>
                        </form>
                    <% }else if(userFound.isBlocked){%>
                        <form method="post" action="/user/<%= userFound.id %>/unblock">
                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-red-lightest bg-red hover:bg-red-light float-right">unblock</button>
                        </form>
                    <% } else if(userFound.requestedBy){ %>
                        <form method="post" action="/user/<%= userFound.id %>/friend">
                            <input type="hidden" name="_method" value="PUT" />
                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-green-lightest bg-green hover:bg-green-light float-right">accept request</button>
                        </form>
                    <% } else if(userFound.isFriend) {%>
                        <form method="post" action="/user/<%= userFound.id %>/friend">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-grey-lightest bg-grey hover:bg-grey-light float-right">remove friend</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
